.main_section {
    font-family: 'Times New Roman', Times, serif
}
.basic_info_section {
    display: flex;
    justify-content: space-evenly;
    background-color: darkslategrey;
    color: goldenrod;
    font-style: bold;
    width: 100%;
    padding: 20px;
}
.description_section {
    text-align: center;
}
.twitter_logo {
    display: flex; 
    flex-wrap: wrap;
    width: 35px;

}
.links_section {
    display: flex;
    flex-wrap: wrap;
    justify-items: right;
    width: 75%;
}

